name: Build and Deploy Development

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  create-tag-beta:
    name: Create Tag Beta
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Create tag beta
        run: |
          ./scripts/semtag.sh beta -s minor 
