name: Get Latest Successful Deployment Ref for Environment

on:
  workflow_dispatch:

jobs:
  find_successful_deployment:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: read # Necessary to read deployment and deployment status data
  
    steps:
      - name: Checkout repository (optional, but good practice)
        uses: actions/checkout@v4

      - name: Find Latest Successful Production Deployment
        id: find_deploy
        uses: ./.github/actions/get-latest-successful-deployment
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          environment: 'production'

      - name: Display Deployment Ref
        run: |
          echo "${{ steps.find_deploy.outputs.successful_deployment_ref }}"